{% extends 'core/base.html' %} {% load static %}{% block content %}


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{%endif %}

{% if 'edit-event' in request.resolver_match.view_name %}
    <p class="fs-3 fw-light">Altere o evento {{current_event.title}}</p>
{% else %}
    <p class="fs-3 fw-light">Cadastre um evento..</p>
{% endif %}
<div class="container my-2">
  <div class="row justify-content-center">
    <div class="col-md-auto">
        <form method="POST", action="{% url 'events:create-event' %}">
          {% csrf_token %}
          {{form.as_p}}
          <input type="submit" value="Cadastrar" class="btn btn-primary">
        </form>
    </div>
    <div class="row">
<div class="col">
    <p class="fw-light">Eventos cadastrados...</p>

{% for month, events_in_month in events.items %}
  <div class="row mb-4">
    <div class="col">
      <h3>{{ month|title }}</h3>
    </div>
  </div>
  <div class="row">
    {% for event in events_in_month %}
    <div class="col-sm-4 mb-4">
      <div class="card">
        <div class="card-body">
          
          <h5 class="card-title">{{ event.title }} {% if user.is_secretary %}<a href="{% url 'events:edit-event' event.id %}"><img src="{% static 'img/edit-black.svg' %}" alt="Edit"></a>{% endif %}</h5>
          
          <p class="card-text">{{ event.description }}</p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Start Date: {{ event.start_date }}</li>
            <li class="list-group-item">End Date: {{ event.end_date }}</li>
            <li class="list-group-item">Price: {{ event.price }}</li>
            <!-- Add more details as needed -->
            <li class="list-group-item">Category: {{ event.category }}</li>
            <!-- Assuming 'category' has a 'name' field, adjust as per your model -->
          </ul>
        </div>
        <div class="card-footer">
          <small class="text-muted">Location: {{ event.location.name }}</small>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endfor %}
</div>
{% endblock %}