{% extends 'core/base.html' %} {% block content %}


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}


<p class="fs-3">Bem vindo, {{user}}!</p>
<p class="fw-light">Veja nossos eventos...</p>
<div class="container-sm my-4">
  <div class="row justify-content-center">
    <div class="col-sm-auto">
        
    </div>
  </div>
</div>

{% endblock %}