{% extends 'core/base.html' %}
{% block content %}
{% load static %}
{% load get_user_role %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}">
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
<div class="container">
  <div class="container text-center">
    <p class="fs-3 fw-light">Sessão de usuários</p>
  </div>
  <div class="container">
    <h6 class="fw-light"> Lista de Membros</h6>
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Funções</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for m in members %}
        <tr>
          <td>{{ m.first_name }} {{ m.last_name }}</td>
          <td>
            {% if m.is_pastor %}
            Pastor
            {% elif m.is_secretary %}
            Secretário
            {% elif m.is_treasurer %}
            Tesoureiro
            {% else %}
            {{m.type}}
            {% endif %}
          </td>

          <td>
            <a href="{% url 'secretarial:user-qualify' m.id %}">
              <img src="{% static 'img/edit-black.svg' %}" class="">
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="container">
    <div class="row">
    <div class="col-8 mx-auto">
    <h6 class="fw-light"> Lista de usuários simples, contratos e congregados...</h6>
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for u in users %}
        <tr>
          <td>{{ u.first_name }} {{ u.last_name }}</td>
          <td>
            <a href="{% url 'secretarial:user-qualify' u.id %}">
              <img src="{% static 'img/edit-black.svg' %}" class="">
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
  </div>
  </div>
</div>
{% endblock %}