{% extends 'core/base.html' %} {% load static %}{% block content %}


{% if messages %}
<div class="alert alert-dismissible">
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}<strong>Error:</strong>{% endif %}
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
</div>
{% endif %}

<!-- Assuming you have a base.html template that includes Bootstrap CSS and other necessary files -->

<!-- Content section -->
<div class="container mt-4">
  <div class="row">
    <!-- Post loop -->
    {% for post in posts %}
    <div class="col-md-8 offset-md-2 mb-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">
            <small class="text-muted">Postado por {{ post.author.first_name }} {{ post.author.last_name }} em {{ post.created }}{% if post.created != post.modified %}, atualizado em {{post.modified}}. {% endif %}</small>
            {% if post.author == request.user %}
                <!-- Edit link for the author -->
                <a href="{% url 'blog:edit' post.id %}">
                    <img src="{% static 'img/edit-black.svg' %}" alt="Editar" width="20" height="20">
                </a>
            {% endif %}
          </p>
        </div>
        <div class="card-body">
          <p class="card-text">{{ post.content|safe }}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Category: {{ post.category }}</small>
        </div>
      </div>
    </div>
    {% endfor %}
    <!-- End of Post loop -->
  </div>

  <!-- Pagination controls -->
<div class="row">
    <div class="col-md-12">
        <!-- Your other content -->

        <!-- Pagination -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {% if is_paginated %}
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1">&laquo; Primeira</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
                        </li>
                    {% endif %}

                    <li class="page-item disabled">
                        <a class="page-link" href="#">Página {{ page_obj.number }} de {{ paginator.num_pages }}</a>
                    </li>

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Próxima</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ paginator.num_pages }}">Última &raquo;</a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
  <!-- End of Pagination controls -->
</div>
{% endblock %}