{% extends 'core/base.html' %} {% block content %}

<p>Bem vindo, {{user}}</p>
{% if not user.is_authenticated %}
<div class="container-sm my-4">
  <div class="row justify-content-center">
    <div class="col-sm-auto">
      
      <p>Digite seus dados para entrar...</p>
      <form action="{% url 'login' %}" method="post">
        {%csrf_token%}{{login_form.as_p}}
        <input type="submit" class="btn btn-primary" value="Entrar" />
      </form>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
